
<div class="container doge-wrapper">
    <div class="row doge-header">
        <div class="col-md-6">
            <div class="doge-title">Doge friends search network</div>
        </div>
        <div class="col-md-6">
            <div class="doge-menu">
                <ul class="nav nav-pills doge-menu pull-right">
                    <li role="presentation"><a [router-link]="['/FriendsList']" href="#">Home</a></li>
                    <li role="presentation"><a [router-link]="['/About']" href="#">About</a></li>
                    <li role="presentation"><a [router-link]="['/FriendFormCmp']" href="#">Add new friend</a></li>
                </ul>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>