<div class="doge-search-bar">
    <input (keyup)="onSearch($event)" placeholder="First or last name, phrase" type="text" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Reputation</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        <tr *ng-for="#friend of friendsList" (click)="onSelect(hero)">
            <th><span class="badge">{{friend.reputation}}</span></th>
            <th>{{friend.firstName}}</th>
            <td>{{friend.lastName}}</td>
            <td>{{friend.favoriteDogePhrase}}</td>
            <td>{{friend.createdAt}}</td>
        </tr>
    </tbody>
</table>

<div *ng-if="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <div><label>id: </label>{{selectedHero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ng-model)]="selectedHero.name" placeholder="name"></input>
    </div>
</div>

<div *ng-if="friendsList.length === 0">
   <p class="text-center">
       <button class="btn btn-success" (click)="addNewFriend()">Add new Doge friend</button>
   </p>
</div>
