body{
	background-image: url('../images/bg.jpg');
}

.doge-header {
    background:#555;
    margin-bottom:20px;
}

.doge-wrapper{
    font-family: arial;
    margin-top: 20px;
    background-color:rgba(255, 255, 255, 0.7)
}

.doge-title{
    color: #FFF;
    font-size: 30px;
    text-align: left;
}

.doge-search-bar{
    font-size: 50px;
    text-align: center;
    margin-bottom:40px;
}

.doge-score{
    color: #FFF;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.doge-btn{
    font-size: 50px;
    margin-top: 20px;
    border: 0;
}

.doge-btn:hover{
    background: #bbb;
}

.doge-btn:active{
    background: #aaa;
}

.doge-menu li a {
    color:#FFF;
}

.doge-menu li a:hover {
    color:#555;
}
